body {
  background-color: transparent;
  font-family: 'Abhaya Libre', serif;
  color: #F2ECE1;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #F2ECE1;
}
a:hover {
  text-decoration: none;
  color: #F2ECE1;
  opacity: 0.6;
}

.section {
width: 100%;
height: 100vh;
object-fit: cover;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
overflow: hidden;
z-index: -500;

}

.navbar {
  background-color: transparent;
  transition: 0.5s background-color ease;
  border-bottom: 1px solid;
  border-color: #F2ECE1;
  padding: 10px;
  margin-bottom: 100px;
  text-align: right;
}

.split-container {
  display: flex;
  justify-content: space-between;
}

.main-container {
  margin-bottom: 130px;
  margin-left: 30px;
  width:50%;
}

.ellipse-container {
  display: flex;
  position: relative;
  align-items: center;
}
.description-ellipse {
  background-color: #3A2E3C;
  opacity: 0.8;
  width: 380px;
  height: 270px;
  position: absolute;
  left: 128px;
  border-radius: 3%;
  text-align: center;
  color: #F2ECE1;
  padding: 45px;
}

.description1 {

}

.description2 {
  display: flex;
  margin-top: 5%;
}
.empty-box {
  padding-right: 18%;
  border-radius: 50%;

}
.blah-blah {
  padding: 5px;
}

.description3 {
  text-align: center;
  margin-top: 10%;
}

.description3 i:hover {
  font-size: 3em;
  opacity: 60%;
  cursor: pointer;
}

.avatar-ellipse {
  position: relative;
}

.me {
  position: absolute;
  left: 21px;
  top: 20px;
  width: 245px;

}
#ellipse-text {
  background-color: #ab9376;
  opacity: 0.6;
  border-radius: 100%;
  padding: 2px;
  font-family: 'Abhaya Libre', serif;
  font-weight: 800;
}
#ellipse-text span {
  position: absolute;
  transform-origin: top left;
  color: white;
}
.avatar {
  object-fit: cover;
  width: 82%;
  border-radius: 50%;
  transform: rotate(6deg);
  opacity: 0.8;
}

.branch-div {
  opacity: 70%;
  position: absolute;
  top: 92px;
  left: 0;
}

.branch {
  transform: rotate(-74deg);
  width: 132px;
}


.main-container-2 {
}

.project {
  pointer-events: none;
  transform: translateZ(0);
  padding: 30px;
  background: white;
  border-radius: 5px;
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  position: relative;
  background-image: url("assets/images/forest-bg.jpg");
}

  .project:after{
  content:" ";
  position: absolute;
  width: 100%;
  height: 10px;
  border-radius: 50%;
  left:0;
  bottom:-50px;
  box-shadow: 0 30px 20px rgba(0,0,0,.3);

  }

.project-card .hover-in{
  transition: .3s ease-out;
}
.project-card .hover-out{
  transition: .3s ease-in;
}

.project-card {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
/*  margin: auto;
  text-align:center;
  transform-style: preserve-3d;*/
}
.skills-container {
  display: flex;
}
.skills-box {
  display: none;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  width: 350px;
}
.title-skills {
  text-align: center;
  margin-left: 100px;
  margin-right: 10px;
}
div .wrapper {
/*  transform: translate(-50%, -50%);*/
}
div svg {
  height: auto;
  width: 40%;
/*  margin: 0 2rem;*/
  cursor: pointer;
  overflow: visible;
}
div svg polygon, div svg path {
  transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
  fill: #F2ECE1;
}
div svg:hover polygon, div svg:hover path {
  transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
  fill: #F2ECE1;
}
div svg:hover .arrow {
  animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
div svg:hover .arrow-fixed {
  animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(1rem);
    opacity: 0;
  }
}
@keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.flexy-container {
  display: flex;
  justify-content: space-between;
  height: 90px;
  overflow: scroll;
  cursor: none;
}
.mouse-scroll {
 display: none;
}
.flexy-container:hover .mouse-scroll {
  display: block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.footer {
  text-align: center;
  font-size: 0.8em;
}
